<select class="form-select form-select-sm" aria-label="filter status" id="filterstatus-select">
    <option value="" selected disabled>Filter Status</option>
    <option value="">Semua Status</option>
    <option>Print PO-DO</option>
    <option>Pengiriman Bahan</option>
    <option>Proses Produksi</option>
    <option>Selesai Produksi</option>
    <option>Proses QC dan Packing</option>
    <option>Standby Pengiriman</option>
    <option>Dalam Pengiriman</option>
    <option>Selesai</option>
    <option>Pending</option>
    <option>Reschedule</option>
    <option>Dibatalkan</option>
</select>