<%- include('layout/header') %>

    </head>


    <body class="bg-light">
        <div class="container mt-4">
            <div class="d-flex align-items-center justify-content-left mb-3 gap-2">
                <!-- <button class="btn btn-info text-white fw-bold" onclick="addShippingTemplate()()">Add Shipping</button> -->
                <button class="btn btn-info text-white fw-bold" onclick="printPDF()">Print</button>
                <button class="btn btn-danger fw-bold btn-sm" style="cursor: pointer;" onclick="window.close()">X Close</span>
            </div>

            <!-- Start Print Layout -->
            <div class="a4 border" id="printableArea">
                <div id="printPagesContainer" class="overflow-hidden" style="font-size: 14px; min-height: 100%;">
                    <div class="row mb-0 m-0 p-0 my-3" style="width: 100%;">
                        <!-- Left Column -->
                        <div class="col-7 customer-info small p-0 border">
                            <!-- Tanda Terima -->
                            <div class="d-flex justify-content-between align-items-center border px-2 py-1"
                                style="font-size: 11px;">
                                <p class="fw-bold mb-0">Tanda Terima</p>
                                <!-- <p class="fw-bold mb-0 text-uppercase">F285</p> -->
                                <div class="col-6">
                                    <input class="form-control form-control-sm" list="datalistOptionsLeft"
                                        id="inputTransaksiLeft" placeholder="Pilih no transaksi" name="nomorTransaksi"
                                        style="border-color: transparent; font-weight: bold; margin: 0; padding-top: 0; padding-bottom: 0; padding-left: 0;
                                    max-width: max-content; text-align: right; float: right; font-size: 10px;"
                                        oninput="showData(this)" />

                                    <datalist id="datalistOptionsLeft">
                                        <!-- Akan diisi lewat JS -->
                                    </datalist>
                                </div>
                            </div>

                            <!-- Shipping Details -->
                            <div class="border p-2">
                                <div class="d-flex justify-content-between mb-1" style="font-size: 11px;">
                                    <div class="mb-0" style="width: 250px;">
                                        <p class="fw-semibold">SHIPPING DETAILS :</p>
                                        <p class="p-1" style="font-size: 10px;" id="addressShippingLeft">-</p>
                                    </div>
                                    <p class="mb-0 fw-semibold">
                                        <span id="displayNameLeft">Nama Penerima</span>
                                        &nbsp;|&nbsp;
                                        <span id="telphoneNumberLeft">No Telepon</span>
                                    </p>
                                </div>
                            </div>

                            <!-- Purchase Items -->
                            <div class="d-flex justify-content-between border">
                                <div class="col-8 pe-3">
                                    <div class="d-flex justify-content-between align-items-center mb-1 p-1"
                                        style="font-size: 11px;">
                                        <p class="mb-0">PURCHASE ITEMS: <br />
                                            <span class="fw-bold" id="productItemLeft">-</span>
                                        </p>
                                        <div class="text-uppercase text-end" id="quantityLeft"></div>
                                    </div>
                                    <div class="border p-2 mb-2" style="font-size: 11px;">
                                        <p class="mb-1">Notes:</p>
                                        <p class="mb-2" style="font-size: 10px; font-style: italic; color: #6c757d;"
                                            id="notesAddressLeft">
                                            -
                                        </p>
                                        <p class="d-flex justify-content-between p-0" style="font-size: 10px;">
                                            Tanggal Terima/Pick up:
                                            <span class="fs-semibold" id="dateReceive">-</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="col-4 d-flex flex-column align-items-center justify-content-between border p-1">
                                    <p class="fw-bold mb-2" style="width:100%; font-size: 10px;">RECEIVED BY :</p>
                                    <div
                                        class="w-100 d-flex flex-column justify-content-between align-items-betwee gap-1">
                                        <p class="fst-italic small mb-0 text-end p-0"
                                            style="font-size: 7px; width: 100%;">(NAMA LENGKAP & TANDA TANGAN)</p>
                                        <p class="small fst-italic p-0 text-end" style="font-size: 6px; width: 100%;">
                                            Dengan tanda tangan ini, saya menyatakan bahwa saya telah menerima barang
                                            dalam kondisi
                                            terbungkus baik dan lengkap.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Right Column -->
                        <div class="col-5 customer-info small p-0 border mr-1">
                            <div class="d-flex justify-content-between align-items-center px-2 py-1"
                                style="font-size: 11px;">
                                <p class="fw-bold mb-0">Dispatch Sticker</p>
                                <span class="fw-bold mb-0 text-uppercase" id="id_transaksi">-</span>
                            </div>

                            <!-- Shipping Details -->
                            <div class="border mt-2 p-1" style="font-size: 11px;">
                                <p class="d-flex justify-content-between mb-1">
                                    Purchase Items:
                                </p>
                            <div class="row align-items-center">
  <div class="col text-uppercase fw-semibold mb-0" id="productItemRight">-</div>
  <div class="col text-end text-uppercase" id="quantityRight"></div>
</div>

                                        
                            </div>

                            <!-- Notes -->
                            <div class="p-1 mb-3 border" style="min-height: 80px;">
                                <p class="fw-semibold mb-1 p-1" style="font-size: 11px;">NOTES:</p>
                                <p class="fst-italic text-muted mb-0" style="font-size: 11px;" id="notesAddressRight">-
                                </p>
                            </div>

                            <!-- Footer Info -->
                            <div class="d-flex justify-content-between p-1" style="font-size: 11px;">
                                <span style="width: 80px;">
                                    <p class="fw-bold mb-0" id="displayNameRight">Nama Penerima</p>
                                    <p class="mb-0 fw-bold" id="telphoneNumberRight">No Telepon</p>
                                </span>
                                <p class="mt-2 small text-end" style="font-size: 10px; width: 200px;"
                                    id="addressShippingRight">
                                    -</p>
                            </div>

                        </div>
                    </div>
                    <div class="row mb-0 m-0 p-0 my-3" style="width: 100%;">
                        <!-- Left Column -->
                        <div class="col-7 customer-info small p-0 border">
                            <!-- Tanda Terima -->
                            <div class="d-flex justify-content-between align-items-center border px-2 py-1"
                                style="font-size: 11px;">
                                <p class="fw-bold mb-0">Tanda Terima</p>
                                <!-- <p class="fw-bold mb-0 text-uppercase">F285</p> -->
                                <div class="col-6">
                                    <input class="form-control form-control-sm" list="datalistOptionsLeft"
                                        id="inputTransaksiLeft" placeholder="Pilih no transaksi" name="nomorTransaksi"
                                        style="border-color: transparent; font-weight: bold; margin: 0; padding-top: 0; padding-bottom: 0; padding-left: 0;
                                    max-width: max-content; text-align: right; float: right; font-size: 10px;"
                                        oninput="showData(this)" />

                                    <datalist id="datalistOptionsLeft">
                                        <!-- Akan diisi lewat JS -->
                                    </datalist>
                                </div>
                            </div>

                            <!-- Shipping Details -->
                            <div class="border p-2">
                                <div class="d-flex justify-content-between mb-1" style="font-size: 11px;">
                                    <div class="mb-0" style="width: 250px;">
                                        <p class="fw-semibold">SHIPPING DETAILS :</p>
                                        <p class="p-1" style="font-size: 10px;" id="addressShippingLeft">-</p>
                                    </div>
                                    <p class="mb-0 fw-semibold">
                                        <span id="displayNameLeft">Nama Penerima</span>
                                        &nbsp;|&nbsp;
                                        <span id="telphoneNumberLeft">No Telepon</span>
                                    </p>
                                </div>
                            </div>

                            <!-- Purchase Items -->
                            <div class="d-flex justify-content-between border">
                                <div class="col-8 pe-3">
                                    <div class="d-flex justify-content-between align-items-center mb-1 p-1"
                                        style="font-size: 11px;">
                                        <p class="mb-0">PURCHASE ITEMS: <br />
                                            <span class="fw-bold" id="productItemLeft">-</span>
                                        </p>
                                        <div class="text-uppercase text-end" id="quantityLeft"></div>
                                    </div>
                                    <div class="border p-2 mb-2" style="font-size: 11px;">
                                        <p class="mb-1">Notes:</p>
                                        <p class="mb-2" style="font-size: 10px; font-style: italic; color: #6c757d;"
                                            id="notesAddressLeft">
                                            -
                                        </p>
                                        <p class="d-flex justify-content-between p-0" style="font-size: 10px;">
                                            Tanggal Terima/Pick up:
                                            <span class="fs-semibold" id="dateReceive">-</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="col-4 d-flex flex-column align-items-center justify-content-between border p-1">
                                    <p class="fw-bold mb-2" style="width:100%; font-size: 10px;">RECEIVED BY :</p>
                                    <div
                                        class="w-100 d-flex flex-column justify-content-between align-items-betwee gap-1">
                                        <p class="fst-italic small mb-0 text-end p-0"
                                            style="font-size: 7px; width: 100%;">(NAMA LENGKAP & TANDA TANGAN)</p>
                                        <p class="small fst-italic p-0 text-end" style="font-size: 6px; width: 100%;">
                                            Dengan tanda tangan ini, saya menyatakan bahwa saya telah menerima barang
                                            dalam kondisi
                                            terbungkus baik dan lengkap.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Right Column -->
                        <div class="col-5 customer-info small p-0 border mr-1">
                            <div class="d-flex justify-content-between align-items-center px-2 py-1"
                                style="font-size: 11px;">
                                <p class="fw-bold mb-0">Dispatch Sticker</p>
                                <span class="fw-bold mb-0 text-uppercase" id="id_transaksi">-</span>
                            </div>

                            <!-- Shipping Details -->
                            <div class="border mt-2 p-1" style="font-size: 11px;">
                                <p class="d-flex justify-content-between mb-1">
                                    Purchase Items:
                                </p>
                             <div class="row align-items-center">
  <div class="col text-uppercase fw-semibold mb-0" id="productItemRight">-</div>
  <div class="col text-end text-uppercase" id="quantityRight"></div>
</div>

                            </div>

                            <!-- Notes -->
                            <div class="p-1 mb-3 border" style="min-height: 80px;">
                                <p class="fw-semibold mb-1 p-1" style="font-size: 11px;">NOTES:</p>
                                <p class="fst-italic text-muted mb-0" style="font-size: 11px;" id="notesAddressRight">-
                                </p>
                            </div>

                            <!-- Footer Info -->
                            <div class="d-flex justify-content-between p-1" style="font-size: 11px;">
                                <span style="width: 80px;">
                                    <p class="fw-bold mb-0" id="displayNameRight">Nama Penerima</p>
                                    <p class="mb-0 fw-bold" id="telphoneNumberRight">No Telepon</p>
                                </span>
                                <p class="mt-2 small text-end" style="font-size: 10px; width: 200px;"
                                    id="addressShippingRight">
                                    -</p>
                            </div>

                        </div>
                    </div>
                    <div class="row mb-0 m-0 p-0 my-3" style="width: 100%;">
                        <!-- Left Column -->
                        <div class="col-7 customer-info small p-0 border">
                            <!-- Tanda Terima -->
                            <div class="d-flex justify-content-between align-items-center border px-2 py-1"
                                style="font-size: 11px;">
                                <p class="fw-bold mb-0">Tanda Terima</p>
                                <!-- <p class="fw-bold mb-0 text-uppercase">F285</p> -->
                                <div class="col-6">
                                    <input class="form-control form-control-sm" list="datalistOptionsLeft"
                                        id="inputTransaksiLeft" placeholder="Pilih no transaksi" name="nomorTransaksi"
                                        style="border-color: transparent; font-weight: bold; margin: 0; padding-top: 0; padding-bottom: 0; padding-left: 0;
                                    max-width: max-content; text-align: right; float: right; font-size: 10px;"
                                        oninput="showData(this)" />

                                    <datalist id="datalistOptionsLeft">
                                        <!-- Akan diisi lewat JS -->
                                    </datalist>
                                </div>
                            </div>

                            <!-- Shipping Details -->
                            <div class="border p-2">
                                <div class="d-flex justify-content-between mb-1" style="font-size: 11px;">
                                    <div class="mb-0" style="width: 250px;">
                                        <p class="fw-semibold">SHIPPING DETAILS :</p>
                                        <p class="p-1" style="font-size: 10px;" id="addressShippingLeft">-</p>
                                    </div>
                                    <p class="mb-0 fw-semibold">
                                        <span id="displayNameLeft">Nama Penerima</span>
                                        &nbsp;|&nbsp;
                                        <span id="telphoneNumberLeft">No Telepon</span>
                                    </p>
                                </div>
                            </div>

                            <!-- Purchase Items -->
                            <div class="d-flex justify-content-between border">
                                <div class="col-8 pe-3">
                                    <div class="d-flex justify-content-between align-items-center mb-1 p-1"
                                        style="font-size: 11px;">
                                        <p class="mb-0">PURCHASE ITEMS: <br />
                                            <span class="fw-bold" id="productItemLeft">-</span>
                                        </p>
                                        <div class="text-uppercase text-end" id="quantityLeft"></div>
                                    </div>
                                    <div class="border p-2 mb-2" style="font-size: 11px;">
                                        <p class="mb-1">Notes:</p>
                                        <p class="mb-2" style="font-size: 10px; font-style: italic; color: #6c757d;"
                                            id="notesAddressLeft">
                                            -
                                        </p>
                                        <p class="d-flex justify-content-between p-0" style="font-size: 10px;">
                                            Tanggal Terima/Pick up:
                                            <span class="fs-semibold" id="dateReceive">-</span>
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="col-4 d-flex flex-column align-items-center justify-content-between border p-1">
                                    <p class="fw-bold mb-2" style="width:100%; font-size: 10px;">RECEIVED BY :</p>
                                    <div
                                        class="w-100 d-flex flex-column justify-content-between align-items-betwee gap-1">
                                        <p class="fst-italic small mb-0 text-end p-0"
                                            style="font-size: 7px; width: 100%;">(NAMA LENGKAP & TANDA TANGAN)</p>
                                        <p class="small fst-italic p-0 text-end" style="font-size: 6px; width: 100%;">
                                            Dengan tanda tangan ini, saya menyatakan bahwa saya telah menerima barang
                                            dalam kondisi
                                            terbungkus baik dan lengkap.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Right Column -->
                        <div class="col-5 customer-info small p-0 border mr-1">
                            <div class="d-flex justify-content-between align-items-center px-2 py-1"
                                style="font-size: 11px;">
                                <p class="fw-bold mb-0">Dispatch Sticker</p>
                                <span class="fw-bold mb-0 text-uppercase" id="id_transaksi">-</span>
                            </div>

                            <!-- Shipping Details -->
                            <div class="border mt-2 p-1" style="font-size: 11px;">
                                <p class="d-flex justify-content-between mb-1">
                                    Purchase Items:
                                </p>
                              <div class="row align-items-center">
  <div class="col text-uppercase fw-semibold mb-0" id="productItemRight">-</div>
  <div class="col text-end text-uppercase" id="quantityRight"></div>
</div>

                            </div>

                            <!-- Notes -->
                            <div class="p-1 mb-3 border" style="min-height: 80px;">
                                <p class="fw-semibold mb-1 p-1" style="font-size: 11px;">NOTES:</p>
                                <p class="fst-italic text-muted mb-0" style="font-size: 11px;" id="notesAddressRight">-
                                </p>
                            </div>

                            <!-- Footer Info -->
                            <div class="d-flex justify-content-between p-1" style="font-size: 11px;">
                                <span style="width: 80px;">
                                    <p class="fw-bold mb-0" id="displayNameRight">Nama Penerima</p>
                                    <p class="mb-0 fw-bold" id="telphoneNumberRight">No Telepon</p>
                                </span>
                                <p class="mt-2 small text-end" style="font-size: 10px; width: 200px;"
                                    id="addressShippingRight">
                                    -</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <span id="itemalls" style="display: none;" data-json="<%=JSON.stringify(datas)%>">

            </span>

            <%- include('layout/footerscript') %>
    </body>

    </html>