<!-- mark as nonnew -->
<div class="d-flex align-items-center justify-content-end">
    <span class="badge text-bg-light" style="cursor: pointer;" id="markread" onclick="markreadnewAll()"><i class="bi bi-check2-square"></i> Mark As Nonnew</span>
    <span class="spinner-border spinner-border-sm d-none" aria-hidden="true" id="load-markall"></span>
</div>
<!-- End mark as nonnew -->