<button type="button" class="btn btn-light" style="border-color: black!important;float: right;" onclick="location.reload(true);"><i class="bi bi-arrow-clockwise"></i> Reload</button>

<!-- cara pakai -->
<!-- copy dibawah ini di ejs halaman yang digunakan-->
<!-- include('basic/tombolreload') -->