<!-- Modal modal-lg  data-bs-backdrop="static" data-bs-keyboard="false" -->
<div class="modal fade" id="modaladdnewitem" tabindex="-1" aria-labelledby="modaladdnewitemlabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modaladdnewitemlabel" style="font-weight: bold; vertical-align: middle">
          Add New Office
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <span class="d-none" id="iduniversals"></span>
        <div id="itemsContainer" class="row mt-2">
          <div id="item-1" class="partitems">
            <div class="col">
              <div class="input-group input-group-sm mb-3">
                <span class="input-group-text"
                  style="background-color: rgb(226, 221, 221); font-size: 12px; width: 120px;">
                  <span class="text-danger">*&nbsp;</span> Nama Office
                </span>
                <input type="text" class="form-control" id="office-1" name="office" placeholder="Office"
                  style="font-size: 12px" oninput="oninputdata()" />
              </div>
              <!-- Note -->
              <div class="input-group1 input-group-sm mb-3">
                <span class="input-group-text" style="background-color: rgb(226, 221, 221); font-size: 12px; ">
                  <span class="text-danger">*&nbsp;</span> Alamat
                </span>
                <textarea class="form-control" id="address-1" name="address" placeholder="Address"
                  style="font-size: 12px; resize: none;" rows="7" oninput="oninputdata()"></textarea>
              </div>
            </div>
            <div class="d-flex justify-content-end d-none">
              <button type="button" class="removeItem btn btn-danger btn-sm" id="removeItem-1"
                onclick="removeItem(this)">
                <i class="bi bi-trash3-fill" style="color: white"></i>&nbsp;Hapus
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-flex align-items-center justify-content-between w-100" id="addnewitemtombolfooters">
          <div>
            <button type="button" class="btn btn-secondary" id="addmore" onclick="additems()">
              Add More
            </button>
          </div>
          <div>
            <button type="button" class="btn btn-secondary me-3" id="submitsave" onclick="submitsave()">
              Save
            </button>

            <button type="button" class="btn btn-light border-secondary-subtle rownama" data-bs-dismiss="modal">
              Batal
            </button>
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-end w-100 d-none" id="edititemtombolfooters">
          <button type="button" class="btn btn-secondary me-3" id="submitsave" onclick="submitsaveedit()">
            Save
          </button>

          <button type="button" class="btn btn-light border-secondary-subtle rownama" data-bs-dismiss="modal">
            Batal
          </button>
        </div>
      </div>
    </div>
  </div>
</div>