<!--  

    {
        classlist:'',
        placeholder:''
    }

-->

<div class="w-100">
    <input type="text" class="form-control <%-classlist%>" placeholder="<%-placeholder%>"
        aria-label="<%-placeholder%>" onkeydown="searchData(event)"
        oninput="cekempety(this)" id="searchDatas">
</div>